.manual-search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
  height: 6.5em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2em 0.1px rgba(146, 146, 146, 0.1);
}
.manual-search-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  height:50%;
  width: 95%;
  /* border: solid 1px salmon; */
}
.down-arrow-container{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 230, 250);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.manual-search-container > div {
  /* padding: 0px em; */
  user-select: none;
  position: relative;
  height: 100%;
  width: 12em;
  /* border: solid 1px blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.after-effect::after{
  position: absolute;
  top: 2px;
  right: 0;
  content: "";
  height: 3em;
  width: 1px;
  background-color: rgb(180, 180, 180);
  box-shadow: -2px 0px 1em 1px rgb(215, 212, 240);
  border-radius: 100%;
}
.when-box{
  width: 16em !important;
}
.location-box-content,
.when-box-content,
.price-box-content,
.property-box-content{
  font-weight: bold;
  font-size: 18px;
  color: rgb(48, 44, 80);
}
.filter-dropdown{
  position: relative;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.manual-search-button{
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  transition: all 0.23s ease-in-out;
  cursor: pointer;
  padding: 1em 2em;
  border: solid 1px rgb(111, 101, 232);
  background-color: rgb(111, 101, 232);
  color: white;
  border-radius: 8px;
}
.manual-search-button:hover{
  box-shadow: 0px 0px 0.5em rgb(0, 0, 0,0.5);
}