.property-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22em;
  height: 27em;
  border-radius: 0.5em;
  box-shadow: -2px 0px 1em 1px rgb(215, 212, 240,0.3);
  background-color: rgba(255, 255, 255, 0.8);
}
.property-image-container{
  background-image: url("assets/images/photo-id-1.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.property-information-container{
  /* border: solid 1px rgb(111, 101, 232); */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-information{
  /* border: solid 1px rgb(111, 101, 232); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80%;
}
.property-details{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.property-details-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.property-details-right{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: solid 2px rgba(171, 168, 209, 0.4);
}
.property-rate{
  font-size: 1.6em;
  font-weight: bold;
  color:rgb(111, 101, 232);
}
.property-name{
  font-size:26px;
  font-weight: bold;
  color: rgb(48, 44, 80);
}
.property-address{
  width: 100%;
  height: 20%;
}
.property-features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px rgb(180, 180, 180,0.3);
  height: 25%;
  width: 100%;
}
.property-features > div{
  display: flex;
  align-items: center;
}
.popular-property{
  box-shadow: 0px 0px 1em rgb(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  left: -8px;
  top: 12.5em;
  height: 2em;
  width: 7em;
  background-color: rgb(111, 101, 232);
}